/* &display=swap */

@import "null.css";

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400;1,700&display=swap');

.wrapper {
	min-height: 100%;
	overflow: hidden;
	width: 810px;
	margin: 0 auto;
}

.article {
	font-family: "Lato", sans-serif;
	font-size: 16;
	color: #424551;
	position: absolute;
	width: 810px;
	margin: 0 auto;
}

.type-category {
	margin: 24px 0px 12px 0px;
}
.type {
	line-height: 160%;
	background: url(../img/article.svg) left / 14px no-repeat;
	padding-left: 24px;
	display: inline-block;
}

.category {
	line-height: 160%;
	font-weight: 700;
	color: #FF3F3A;
	background: url(../img/divider.svg) left no-repeat;
	padding-left: 12px;
	margin-left:  12px;
	display: inline-block;
}

h1 {
	font-weight: 900;
	font-size: 46px;
	line-height: 59.8px;
	color: #1E212C;
	-webkit-text-stroke: 1px black;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.title-box {
	margin: 0px 0px 26px 0px;
}

.description {
	margin: 0px 0px 40px 0px;
}

.description-item{
	color: #787A80;
	line-height: 160%;
	padding-left: 24px;
	display: inline;
	margin-right: 24px;
}
.publish-date {
	background: url(../img/calendar.svg) left / 14px no-repeat;
}

.read-time {
	background: url(../img/clock.svg) left / 14px no-repeat;
}

.article-image-box {
	border-radius: 6px;
	overflow: hidden;
	margin: 0px 0px 60px 0px;
}

p {
	margin: 0px 0px 24px 0px;
}

.bold-paragraph {
	color: #1E212C;
	font-weight: 700;
	font-size: 20px;
	line-height: 150%;
}

.paragraph {
	line-height: 160%;
}

.quote {
	background: url(../img/braces.svg) 0 0 / 26px no-repeat;
	/*padding-left: 24px;*/
	padding-left: 58px;
	margin: 48px 0px;
}

.list {
	margin: 0px 0px 24px 0px;
}

.item-list {
	background: url(../img/check.svg) 0 0 no-repeat;
	background-position: 0px 5px;
	line-height: 160%;
	padding-left: 32px;
}

.article-tags{
	font-weight: 700;
	font-size: 16px;
	line-height: 160%;
	color: #1E212C;
	display: inline-block;
	margin: 0px 0px 24px 0px;
}

.tag {
	font-size: 14px;
	line-height: 150%;
	color: #787A80;
	display: inline;
	margin-left: 12px;
	border: 1px solid #D7DADD;
	box-sizing: border-box;
	border-radius: 4px;
	padding: 6px 16px;
}